/* CSS for testing purpose */
.test1 {
    border: 1px solid greenyellow;
}

.test2 {
    border: 1px solid blueviolet;
}

.test3 {
    border: 1px solid lightsalmon;
}

/* for the whole html */
* {
  box-sizing: border-box;
}

/* body background */
body {
  background-image: radial-gradient(circle, white, lightgrey);
}

/* sidebar CSS */
.sidenav {
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: lightgray;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 2%; 
}

.popup{
  display: none;
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top : 0;
  padding-top:20%; 
  background-color: rgba(196, 196, 196, 0.2);
}

#contentPopup{
  width: 40%;
  height: 50vh;
  margin: auto ;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgb(236, 234, 234);
  border: #83878a 1px solid;
  border-radius: 12px;
}
#contentPopup img{
  width: 85%;
}
#closePopup {
 
  top: 0;
  right : 0;
  color: #83878a;
  padding: 2%;
  font-weight: bold;
  transition: 0.3s;
  position: absolute;
  z-index: 2;
}


.sidenav .closebtn {
  position: absolute;
  top:0;
  right: 1.75vw;
  font-size: 30px;
  font-weight: bold;
  margin-top: 3%;
  width: 2vw;
  color:#83878a;
  text-align: center;
  text-decoration: none;
  text-decoration-color: #83878a;
}

.sidenavContainer {
  background-color: white;
  border: 7px solid lightgray;
  border-radius: 13px;
  padding-top:8%;
  padding-bottom:8%;
}

.sidenavContainer #productDetail #productColor .btn{
  padding : 1rem;
  margin-bottom: 0.5rem;
} 

.sidenavContainer #productDetail #productPrice{
  margin: 1rem;
}

.sidenavContainer #barcode #qrcodeImg{
  width: 9.3vw;
  max-width: 100%;
}

/* for verticaling align div in body */
.wrapper {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#map-sidebar{
  width: 100%;
  max-width: 100%;
}

/* style the page content */
#main {
  max-height: 900px;
  
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.slideshow-container {
  position: relative;
  margin: auto;
  left: 0px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
}

.next {
  right: 0px;
  text-align: right;
}

.model {
  /* model behind icon */
  z-index: -1;

  /* model fix div */
  height: 100%;
  width: auto;

  /* center model */
  display: block;
  margin: 0 auto;
}

.accessory {
  position: absolute;
  width: 13.4vh;
}

/* position icon on each slides */
/* just for testing */
#icon-1 {
  top: -3%;
  /* right: 10%; */
  left: 21%;
}

#icon-2 {
  top: -1%;
  /* right: 10%; */
  left: 66%;
}

#icon-3 {
  top:10%;
  left:10%;
}

#icon-4 {
  top:50%;
  left:10%;
}

#icon-5 {
  top:10%;
  right: 10%;
}

#icon-6 {
  top:50%;
  right: 10%;
}

#icon-7 {
  /* top:10%; */
  left: 22%;
  bottom: 8%;
}

#icon-8 {
  /* top:50%; */
  left: 72%;
  bottom: 5%;
}


/* thumbnail */
.thumbnailWrapper {
  max-width: 9.3vh;
  margin-left: 4.2vw;
}

#thumbnail {
  height: 25vh;
  overflow-y: scroll;
}

#thumbnail img {
  display: block;
  cursor: pointer;
  margin-top: 1.6vh;
  margin-bottom: 1.6vh;
}

/* make scrollbar invisible */
::-webkit-scrollbar {
  display:none;
}

.language {
  position: absolute;
  bottom: 7.4vh;
  left: 4.5vw;
}

.language button {
  display: block;
  text-align: center;
  border: 2px solid #83878a;
  background-image: radial-gradient(rectangle, white, lightgrey);

  outline: none;
  cursor: pointer;
  height: 3.7vh;
  width: 10vw;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 4%;
}

.language button:active {
  background-color: lightgrey;
}

